<div class="row">
            <div class="col-6">

                <app-dona [titulo]=chart1 [datos]=dataCantantes [labels]=cantantes></app-dona>
            </div>
            <div class="col-6">
              <app-dona [titulo]=chart2 [datos]=dataFutbolistas [labels]=futbolistas></app-dona>
          </div>
          <div class="col-6">
            <app-dona [titulo]=chart3 [datos]=dataStats [labels]=stats></app-dona>
        </div>
        <div class="col-6">
          <app-dona [titulo]=chart4 [datos]=dataWrestlers [labels]=wrestlers></app-dona>
      </div>
</div>

